{% extends "header.html" %}
{% block head %}
  <style type="text/css">
    body {
      background-color: #f5f5f5;
    }
    .content-wrapper {
      max-width: 800px;
      padding: 0px 50px 40px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
              box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    #spotlight {
       margin: 0;
       padding: 10px 15px;
       width: 100%;
       font-size: 16px;
       margin-top: 20px;
    }

    #show-all {
       padding: 10px;
    }

    .spotlight-error {
       color: red;
    }

    #jobs li {
       display: none;
       padding: 10px;
       border-bottom: 1px solid #eaeaea;
       list-style: none;
    }

    #jobs li span {
       color: #777;
       font-size: 89%;
    }

    .spotlight-highlight ul.job-tags {
       display: none;
    }

    #jobs ul.job-tags li {
       border-radius: 3px;
       background: #bfc8de;
       padding: 3px 5px;
       color: #444;
       display: inline;
       border-bottom: 0;
       font-size: 89%;
       list-style: none;
    }

    .spotlight-highlight {
       background: #095388;
    }

    .spotlight-highlight a {
       color: #fff;
    }

    .spotlight-highlight a:hover {
       color: #ddd;
    }

    .spotlight-highlight span {
       color: #ffcd04 !important;
    }

    a, a:active { color: #095388; }
    a:hover { 
      text-decoration: none;
    }
    #jobs li:hover {
      color: #4F89B2;
      background: #f5f5f5;
    }
    #jobs li:hover a {
      color: #4F89B2;
    }
  </style>
{% endblock %}
{% block main_content %}
<div class="container content-wrapper">
  <div class="center big-top-padding">
    <img src="/static/img/logo.png" width="300">
  </div>
  <input id="spotlight" placeholder="Don't see a robot? Search right here." />
  <ul id="jobs">
    {% for robot in robots %}
    <li>
      <a href="{{ robot['endpoint'] }}">
        <h3>{{ robot['name'] }}</h3>
        <span>{{ robot['school'] }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a id="show-all" href="javascript:;">More&hellip;</a>
</div> 
{% endblock %}
