<!-- included in run.html -->

<!-- side panel panel div -->
<div id="buttonPanel" class="col-lg-4">
  <!-- panel 1 generate locations -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Generate Locations for Current Run</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="btn btn-lg btn-primary default" id="candle-but" role="button" >Candle Loc: &raquo;</div>
          </div>
          <div class="col-xs-4 text-center">
            <h4 class="alert-info"><strong id="candle">-</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 hidden" id="candleLocationDiv">
            <img id="candleLocationImg" src="/static/img/_THUMBNAILS_/Flames.Thumbnails/flame1.png" height="300" width="300">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
            <div class="btn btn-lg btn-primary" id="puppy-but" role="button">Puppy Loc: &raquo;</div>
          </div>
          <div class="col-xs-4 text-center">
            <h4 class="alert-info"><strong id="puppy">-</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 hidden" id="puppyLocationDiv">
            <img id="puppyLocationImg" src="/static/img/_THUMBNAILS_/Dogs.Thumbnails/dog1.png" height="300" width="300">
          </div>
          </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
            <div class="btn btn-lg btn-primary" id="start-but" role="button">Start Loc: &raquo;</div>
          </div>
          <div class="col-xs-4 text-center">
            <h4 class="alert-info"><strong id="start">-</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 hidden" id="startLocationDiv">
            <img id="startOrientImg" src="/static/img/_THUMBNAILS_/ArbitraryStart.Thumbnails/AS1.png" height="150" width="150">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 hidden" id="roomImgDiv">
            <img id="roomImg" src="/static/img/_THUMBNAILS_/ArbitraryStart.Thumbnails/arbitrary-start-map.png" height="300" width="300">
          </div>
        </div>
        <br>                  
        <div class="row">
          <div class="col-xs-6">
            <div class="btn btn-lg btn-primary" id="furniture-but" role="button">Furnit Loc: &raquo;</div>
          </div>
          <div class="col-xs-4 text-center">
          <h4 class="alert-info"><strong id="furniture">-</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 hidden" id="furnitureLocationDiv">
            <img id="furnitureLocationImg" src="/static/img/_THUMBNAILS_/Furniture.Thumbnails/O1.png" height="300" width="300">
          </div>
        </div>
        {% if robot['level'] == 3 %}
        <br>
        <div class="row">
          <div class="col-xs-6">
            <div class="btn btn-lg btn-primary" id="baby-placement-but" role="button">Baby Place: &raquo;</div>
          </div>
          <div class="col-xs-4 text-center">
          <h4 class="alert-info"><strong id="baby-placement">-</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 hidden" id="babyLocationDiv">
            <img id="babyLocationImg" src="/static/img/_THUMBNAILS_/Cradle.Thumbnails/cradle1.png" height="300" width="300">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
            <div class="btn btn-lg btn-primary" id="baby-exit-but" role="button">Baby Exit: &raquo;</div>
          </div>
          <div class="col-xs-4 text-center">
          <h4 class="alert-info"><strong id="baby-exit">-</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 hidden" id="babyExitDiv">
            <img id="babyExitImg" src="/static/img/_THUMBNAILS_/Targets.Thumbnails/W1.png" height="300" width="300">
          </div>
        </div>
        {% endif %}    
      </div>
    </div>
  </div> <!-- end panel 1 generate locations -->

  <!-- panel 2 previous runs -->
  <div class="row" id="prev-runs">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Previous Runs</h4>
      </div>
      <div class="panel-body">
        {% if all_runs %}
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Run #</th>
                <th>Level</th>
                <th>Succeeded?</th>
              </tr>
            </thead>
            <tbody>
            {% for run in all_runs %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ run.get('level') }}</td>
                <td>{{ "Falied" if run.get('failed_trial') == 1 else "Succeeded" }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="col-lg-12 text-muted text-center">
            <h5>No previous runs.</h5>
          </div>
        {% endif %}
      </div>
    </div>
  </div> <!-- panel 2 previous runs -->
</div> <!-- end side panel div -->