{% extends "header.html" %}
{% block head %}
<style>
    #disq-notice {
        font-size: 15px;
        padding: 5px;
    }
</style>
{% endblock %}
{% block main_content %}
<div class="container container-fluid">
    <div class="row">
        <div class="page-header">
            <h1>{{robot_name}} (Level {{ robot_level}})</h1>
            <h2>{{robot}}<h2>
        </div>
    </div>
    <h2>Previous Runs</h2>
    {% if robot_runs %}
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Disqualified</th>
                        <th>Level</th>
                        <th>Actual Time (AT)</th>
                        <th>Operating Modes(OM.x)</th>
                        <th>Penalty Points(PP)</th>
                        <th>Room Factor</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for run in robot_runs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ true if run.get('failed_trial') == 1 else false }}</td>
                        <td>{{ run.get('level') }}</td>
                        <td>{{ run.get('actual_time') }}</td>
                        <td class="fixed-columns">{{ applied_factors[loop.index - 1].get('applied_oms') }}</td>
                        <td class="fixed-columns">{{ applied_factors[loop.index - 1].get('applied_pp') }}</td>
                        <td class="fixed-columns">{{ applied_factors[loop.index - 1].get('applied_rf') }}</td>
                        <td>{{ run.get('score') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h4 class="text-muted">No previous runs.</h4><br><br>
    {% endif %}

    <div class="row">
        {% if not disqualified %}
            <a href="{{url_for('main.robot_add_run', robot_id=robot_id)}}">
                <button class="btn btn-large btn-primary">Add Run</button>
            </a>
            <br><br>
            {% if robot_level in [1,2] and eligible%}
            <form method="post">
                <input class="btn btn-large btn-primary" type="submit" value="Advance to Level {{ robot_level + 1 }} and Add Run"/>
            </form>
            {% endif %}
        {% else %}
            <span class="bg-info text-danger" id="disq-notice">Robot disqualified due to three successive failed attempts at Level {{robot_level}}</span>
        {% endif %}
    </div>

    {% if robot_runs|length == 5 or disqualified %}
        <h2>Total Final Score</h2>
        <div class="row">
            <div class="col-lg-4">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Lowest Socre Level 1:</td>
                            <td class="text-center">
                                {% if 1 in scores.get('completed') %}
                                    {{scores.get('LS1')}}</td>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Lowest Socre Level 2:</td>
                            <td class="text-center">
                                {% if 2 in scores.get('completed') %}
                                    {{scores.get('LS2')}}</td>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Lowest Socre Level 3:</td>
                            <td class="text-center">
                                {% if 3 in scores.get('completed') %}
                                    {{scores.get('LS3')}}</td>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Total Final Score:</td>
                            <td class="text-center">
                                {{scores.get('TFS')}}</td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
