
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> This robot has not passed through the Robot Inspection Table! If you are at Robot Inspection Table, please examine the robot and enter the dimensions of the robot only if it passes inspection. If you are a judge or schedule manager, please send the robot to the Inspection Table.
</div>
<h4>Robot Inspection Form:</h4>

<form method="post" action="{{ url_for('main.rit_inspection_approval', robot_id=robot['id']) }}">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-xs-12 checkbox {% if inputs['PASSES_CHECK_BOX_ERR'] == True %}has-error{% endif %}">
        <label>
          <input type="checkbox" name="passes_inspection"/>Robot passes Inspection
        </label>{% if inputs['PASSES_CHECK_BOX_ERR'] == True %}<label class="control-label">Please check this before submitting</label> {% endif %}
      </div>
    </div>
    <div class="row">
      <div {% if inputs['HEIGHT_ERR'] %} class="col-xs-3 col-lg-3 has-error" {% else %} class="col-xs-3 col-lg-3" {% endif %} >
          <label>Height (in millimeters):</label>
          <input type="text" class="form-control" name="height" value="{{ inputs['height'] }}"/>
          {% if inputs['HEIGHT_ERR'] == True %}<label class="control-label">Invalid value</label> {% endif %}
      </div>
    </div>
    <div class="row">
      <div {% if inputs['WIDTH_ERR'] %} class="col-xs-3 col-lg-3 has-error" {% else %} class="col-xs-3 col-lg-3" {% endif %} >
          <label>Width (in millimeters):</label>
          <input type="text" class="form-control" name="width" value="{{ inputs['width'] }}"/>
          {% if inputs['WIDTH_ERR'] == True %}<label class="control-label">Invalid value</label> {% endif %}
      </div>
    </div>
    <div class="row">
      <div {% if inputs['BREADTH_ERR'] %} class="col-xs-3 col-lg-3 has-error" {% else %} class="col-xs-3 col-lg-3" {% endif %} >
          <label>Depth (in millimeters):</label>
          <input type="text" class="form-control" name="breadth" value="{{ inputs['breadth'] }}"/>
          {% if inputs['BREADTH_ERR'] == True %}<label class="control-label">Invalid value</label> {% endif %}
      </div>
    </div>
    <br/>
    <input type="submit" value="Approve and Submit dimensions"/>
  </div>
</form>