{% extends "header.html" %}
{% block head %}
<style>
    #disq-notice {
        font-size: 15px;
        padding: 5px;
    }
</style>
{% endblock %}
{% block main_content %}
<div class="container container-fluid">
    <div class="row">
        <div class="page-header">
            <h3>{{robot['name']}} (Level {{ robot['level']}})</h3>
        </div>
    </div>
    {% include 'robot_info.html' %}
    {% if robot['passed_inspection'] and robot['volume']!=0 %}
        {% include 'robot_run_info.html' %}
    {% else %}
        {% include 'robot_inspection_table_form.html' %}
    {% endif %}
</div>
{% endblock %}
