{% extends "header.html" %}
{% block head %}
<style>
	#scoreboard td, #scoreboard th {
	   text-align: center;
	}
</style>
{% endblock %}
{% block main_content %}
<div class="container container-fluid">
    <div class="row text-center">
        <div class="page-header">
            <h1>Level {{level}} Scoreboard</h1>
        </div>
    </div>

    {% if robots %}
		<div class="row" id="scoreboard">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				<table class="table table-striped">
					<thead class="thead-inverse">
						<tr>
							<th>Rank</th>
							<th>Name</th>
							<th>Division</th>
							<th># of Successful Runs</th>
							<th>Lowest Score Level {{level}}</th>
						</tr>
					</thead>
					<tbody>
					{% for robot in robots %}
						<tr>
							<td>{{ loop.index }}</td>
							<td><a href="{{url_for('main.robot_detail', robot_id=robot['id'])}}">{{ robot.get('name') }}</a></td>
							<td>{{ robot.get('division') }}</td>
							<td>{{ robot.get('num_successful') }}
							<td>{{ robot.get(score_name) }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    {% else %}
    	<h4 class="text-muted text-center">No robot has attempted a run on this level.</h4><br><br>
    {% endif %}
</div>
{% endblock %}
