{% extends "header.html" %}
{% block head %}
{% endblock %}
{% block main_content %}
<div class="container container-fluid">
    <div class="row">
        <div class="page-header">
            <h1>{{division}} Score Board</h1>
        </div>
    </div>

    {% if robots%}
		<div class="row">
			<table class="table table-striped">
				<thead class="thead-inverse">
					<tr>
						<th>Rank</th>
						<th>Name</th>
						<th>Current Level</th>
						<th>Lower Score Level 1</th>
						<th>Lower Score Level 2</th>
						<th>Lower Score Level 3</th>
						<th>Total Final Score</th>
					</tr>
				</thead>
				<tbody>
				{% for robot in robots %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ robot.get('name') }}</td>
						<td>{{ robot.get('level') }}</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
    {% endif %}
</div>
{% endblock %}
