{% extends "header.html" %}
{% block head %}
<style>
    #scoreboards li {
       border-radius: 3px;
       background: #F1F1F1;
       margin-bottom: 15px;
       color: #444;
       display: block;
       border-bottom: 0;
       font-size: 22px;
       list-style: none;
    }
    h4 {
      font-size: 13px;
      text-decoration: none;
      color: black;
    }
</style>
{% endblock %}
{% block main_content %}
<div class="container" id="scoreboards">
    <div class="row text-center">
        <div class="page-header">
            <h1>{{division}} Scoreboards</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
            <ul>
                <li><a href="/scoreboard/junior">Junior Devision</a></li>
                <li><a href="/scoreboard/walking">Walking Division</a></li>
                <li><a href="/scoreboard/high_school">Highschool Division</a></li>
                <li><a href="/scoreboard/senior">Senior Division</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-right">
        <h4><a href="/scoreboardcsv">Export to CSV</a></h4>
      </div>
    </div>
</div>
{% endblock %}
