{% extends "header.html" %}
{% block head %}
<style type="text/css">
  body {
    padding-top: 40px;
    padding-bottom: 40px;
  }
</style>
{% endblock %}
{% block main_content %}
<div class="container">
  <div class="form-signin">
      <div class="center">
    <img src="/static/img/logo.png" width="300">
  </div>
    <h2 class="form-signin-heading">Sign In with Google Account</h2>
    <a href="{{ url_for('auth.oauth2_login') }}"><button class="btn btn-large btn-primary" type="submit">Sign in</button></a>
  </div>
</div> 
{% endblock %}